<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de Perguntas e Respostas.</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Guia de Perguntas e Respostas!</h1>
    <br>
    <h3>Lista de perguntas.</h3>
    <p>Nome: <%= nome %></p>
    <p>Linguagem favorita: <%= lang %></p>
    <p>Empresa: <%= empresa %></p>
    <p>Inscritos: <%= inscritos %></p>

    <% if (msgErro == true) {%>
        <p>Ocorreu um erro!</p>
    <%} else {%>
        <p>Nenhum erro!</p>
    <%}%>
    <br>
    <h2>Listagem de Produtos</h2>
    <%
        produtos.forEach(function(produto){
    %>
            <p>Produto: <%= produto.produto %></p>
            <p>Preço: <%= produto.preco %></p>
    <%
        });
    %>
</body>
</html>